body {
    margin: 0;
    font-family: 'Caesar Dressing', serif;
    background: linear-gradient(to bottom, #F97C0F 18%, #D8B339 41%, #1763B9 62%);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
  }
  
  .header {
    text-align: center;
    margin-top: 20px;
  }
  
  .title {
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin: 10px 0;
    text-transform: capitalize;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
  }
  
  .search-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    text-align: center;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  label {
    font-size: 1.1rem;
    font-weight: 500;
  }
  
  input {
    padding: 12px;
    font-size: 1rem;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  input:focus {
    border: 1px solid #1763B9;
    outline: none;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    margin-right: 5px;
    border-radius: 25px;
  }
  
  button:hover {
    background-color: darkorange;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(255, 165, 0, 0.6);
  }
  
